#wrap {
    display:flex;
    flex-flow:row wrap;
    width:100%;
    margin:0 auto;
    max-width:1200px;
    background-color: white;
}

a {
    text-decoration: none;
}

.pagenav {
    width: 100%;
    float: left;
    margin: 40px 0px 0px 0px;
}

.pagenav a {
    color: #707070;
    font: normal normal bold 15px/17px NanumGothic;
}

.navarrow {
    margin: 0 7px 0 7px;
    padding: 6px;
    background: url(../img/navarrow.svg) no-repeat;
    background-position: 0px;
}

.goodsCtgry {
    width: 100%;
    border: 0.25px solid #707070;
    margin: 40px 0;
}

.ctgry_list {
    padding: 5px 0px 30px;
    overflow: hidden;
}

.ctgry_list li {
    width: 295px;
    float: left;
    padding: 25px 50px 0 40px;
    font: normal normal normal 15px/17px NanumGothic;
    color: #707070;
}

.ctgry_list a.on, .ctgry_list li:hover a {
    color: #195500;
    font-weight: 600;
}

.sort {
    width: 100%;
    display: inline-block;
}

.select_sort li {
    float: left;
    font: normal normal normal 12px/14px NanumGothic;
    color: #707070;
}

.line {
    width: 0.5px;
    height: 14px;
    float: left;
    background-color: #ABABAB;
    margin: 0px 15px;
}

.list_goods {
	min-height: 130px;
}

.inner_listgoods {
    width: 100%;
}

.goods li {
    float: left;
    width: 300px;
    padding: 20px 27px 70px 0;
}

.thumb {
    width: 280px;
    height: 280px;
}

.img {
	width: 100%;
	height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.goods_info {
    padding-top: 15px;
    display: block;
    line-height: 1.5;
}

.goods_title {
    font: normal normal bold 16px/19px NanumGothic;
    color: #707070;
}

.goods_dc {
    font: normal normal 800 16px/19px NanumGothic;
    color: #195500;
}

.cost {
    font: normal normal 800 16px/19px NanumGothic;
    color: #000000;
}

.price {
    text-decoration: line-through;
    font: normal normal bold 12px/14px NanumGothic;
    color: #B2B2B2;
}

.paging {
    width: 100%;
    margin: 30px 0 60px 0;
    text-align: center;
    font: normal normal normal 12px/14px NanumGothic;
    color: #B2B2B2;
}

